################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CornerGrocer/.vs/CornerGrocer/FileContentIndex/08b45aaf-c3db-48d8-a2a5-b6cbdfc7ed8c.vsidx
/CornerGrocer/.vs/CornerGrocer/FileContentIndex/05abbbf3-6790-4013-a53f-8b0239325468.vsidx
