################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CornerGrocer/.vs/CornerGrocer/FileContentIndex/08b45aaf-c3db-48d8-a2a5-b6cbdfc7ed8c.vsidx
/CornerGrocer/.vs/CornerGrocer/FileContentIndex/05abbbf3-6790-4013-a53f-8b0239325468.vsidx
/CornerGrocer/.vs/CornerGrocer/FileContentIndex/13e3c4cc-ef6e-4963-bf73-63434d4c7f45.vsidx
/CornerGrocer/.vs/CornerGrocer/FileContentIndex/e9d7ead5-4119-488a-85ca-f072aecad888.vsidx
/CornerGrocer/.vs/CornerGrocer/FileContentIndex/c2e6d72c-b8de-41dd-90e1-be41e1fa47e1.vsidx
