################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CornerGrocer/.vs/CornerGrocer/FileContentIndex/08b45aaf-c3db-48d8-a2a5-b6cbdfc7ed8c.vsidx
